@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--purple: #490e84;
	--chernyy: #0a0a0a;
	--belyy: #fff;
	--deep-purple: #574b63;
	--seryy: #717171;
}
body{
  font-family: "Inter", sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background: var(--chernyy);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}
.menu{
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  justify-content: start;
  gap: 32px;
}
.menu-link a,
.phone  {
  font-weight: 400;
  font-size: 24px;
  color: var(--seryy);
  text-decoration: none;
  transition: all 0.5s;
}
.menu-link a:hover,
.phone:hover{
  color: var(--belyy);
  transition: all 0.5s;
}


.top {
  text-align: center;
  background: #f5f5f7;
  padding: 71px 0 40px;
  margin-bottom: 87px;
}
.top-title {
  font-weight: 700;
  font-size: 64px;
  color: var(--purple);
  text-transform: uppercase;
  padding-bottom: 41px;
}
.top-img {
  display: block;
  max-width:100%;
  height:auto;
  margin: 0 auto;
  padding-bottom: 25px;
}
.top-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: var(--belyy);
  border-radius: 30px;
  width: 350px;
  height: 50px;
  background: var(--purple);
  margin: 0 auto;
  padding-top: 22px;
  transition: all 0.5s;
}
.top-btn:hover{
  background: var(--chernyy);
  transition: all 0.5s;
}

.news {
  text-align: center;
}
.h2-title {
  font-weight: 700;
  font-size: 32px;
  color: var(--seryy);
  text-transform: uppercase;
  margin: 0;
}
.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 50px 0 150px;
}
.news-content {
  max-width: 560px;
  text-align: left;
}
.news-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--chernyy);
}
.news-test-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--chernyy);
}
.news-img {
  max-width: 350px;
  margin: 0 auto;
}
