@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	--purple: #490e84;
	--chernyy: #0a0a0a;
	--belyy: #fff;
	--deep-purple: #574b63;
	--seryy: #717171;
}
body{
  font-family: "Inter", sans-serif;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background: var(--chernyy);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}
.menu{
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
  justify-content: start;
  gap: 32px;
}
.menu-link a,
.phone  {
  font-weight: 400;
  font-size: 24px;
  color: var(--seryy);
  text-decoration: none;
  transition: all 0.5s;
}
.menu-link a:hover,
.phone:hover{
  color: var(--belyy);
  transition: all 0.5s;
}


.top {
  text-align: center;
  background: #f5f5f7;
  padding: 71px 0 40px;
  margin-bottom: 87px;
}
.top-title {
  font-weight: 700;
  font-size: 64px;
  color: var(--purple);
  text-transform: uppercase;
  padding-bottom: 41px;
}
.top-img {
  display: block;
  max-width:100%;
  height:auto;
  margin: 0 auto;
  padding-bottom: 25px;
}
.top-btn {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: var(--belyy);
  border-radius: 30px;
  width: 350px;
  height: 50px;
  background: var(--purple);
  margin: 0 auto;
  padding-top: 22px;
  transition: all 0.5s;
}
.top-btn:hover{
  background: var(--chernyy);
  transition: all 0.5s;
}

.news {
  text-align: center;
}
.h2-title,
.contact-h2 {
  font-weight: 700;
  font-size: 32px;
  color: var(--seryy);
  text-transform: uppercase;
  margin: 0;
}
.news-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: 15px;
  padding: 50px 0 150px;
}
.news-content {
  max-width: 560px;
  text-align: left;
}
.news-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--chernyy);
  padding-bottom: 20px;
}
.news-test-bold {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--chernyy);
}
.news-img {
  max-width: 350px;
  margin: 0 auto;
}

.color {
  text-align: center;
}
.color-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 15px;
  padding: 50px 0 150px;
  margin: 0 auto;

}
.color-box-item{
  max-width: 240px;
}
.color-img{
  padding-bottom: 20px;
}
.color-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: var(--chernyy);
  padding-bottom: 10px;

}
.color-ru-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--chernyy);
}

.contact {
}
.contact-box {
  display: flex;
  height: 600px;
}
.contact-content {
  background: var(--deep-purple);
  text-align: center;
  width: 50%;
}
.contact-h2 {
  color: var(--belyy);
  padding: 107px 0 72px;
}
.form input{
  display: block;
  background: var(--deep-purple);
  border: none;
  border-bottom: 1px solid #fff;
  padding-top: 30px;
  margin: 0 auto;
  width: 70%;
  
}
.form input:focus {
  outline:none !important
}
input[type=text],
input::placeholder{
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--belyy);
  opacity: 0.7;
  padding-bottom: 10px;
}
.form label{
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: var(--belyy);
  padding: 30px 0;
  opacity: 0.5;
}
.form button{
  border: none;
  border-radius: 30px;
  width: 240px;
  height: 50px;
  background: var(--belyy);
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: var(--purple);
  padding: 16px 81px;
  text-transform: uppercase;
}
.contact-img {
  width: 50%;
}
.contact-img img {
  width: 100%;
  height: 600px;
}
